body {
	font-family: serif;
	background: url('../images/bg0.jpg')  center center fixed;
	text-shadow: 1px 1px 1px  #000;

	.hdng {
		font-size: 5rem;
	}

	.para {
		color: red;
		font-size: 2rem;
	}
}
