body {
	font-family: serif;
	background: url('../images/bg0.jpg')  center center fixed;
	text-shadow: 1px 1px 1px #000;

	.cover-heading {
		font-size: 5rem;
	}

	.msg {
		color: red;
		font-size: 2rem;
	}
}
